<html>
<head>
<style>
h1{font-size:26px;text-align:center}
span, p{padding-left:15px}
</style>
</head>

    <body>
	<div class="imgpop" width="400" height="83" align="center">
			<a target="_blank" href="https://dealer.invacare.com"> <img
			src="https://dealer.invacare.com/file/general/invacare-logo.png"
			alt="" border="0" width="150" height="83"
			style="display: block; border: none; outline: none; text-decoration: none;">
            </a>
     </div>
	 
       <h1> Account Access Requested </h1>
       <span> Access into your account has been requested on <a target="_blank" href="https://dealer.invacare.com"> https://dealer.invacare.com</a> </span>
       <hr>
       <section>
   	    <p>First Name : {{firstName}}</p>
        <p>Last Name : {{lastName}}</p>
        <p>Email Address : {{email}}</p>
        <p>Bill to Account # : {{billTo}}</p> 
       </section>
	   <br>
       <section>
        <p> As the account administrator please visit our website and create the user's account for them. </p>
        <p>1.	Log into <a target="_blank" href="https://dealer.invacare.com"> http://dealer.invacare.com </a></p> 
  	    <p>2.	Click on My Account > Account Members > + New User</p>
        <p>3.	The user will then establish their new password by using the forgotten password process on the login screen.</p>
       </section> 
    </body>

</html>
